.warrper {
	width: 1020px;
    margin: 0px auto;
}
.header {
	height: 73px;
    width: 940px;
    margin: 0px 0px 0px 40px;
}
.boxh {
	float: left;
	width: 58px;
    height: 63px;
    margin: 0px 23px 0px 0px;
}
.container1 {
    width: 940px;
    height: 213px;
	margin: 10px 0px 0px 40px;
}
.box {
    float: left;
    width: 138px;
    height: 103px;
    margin: 55px 0px;
    margin-right: 22px;
}
.container2 {
	width: 940px;
    margin: 10px 0px 0px 40px;
    padding: 10px 0px;
}
.incontainer {
    width: 918px;
    margin: 0 10px;
}
.green_box {
	float: left;
	width: 138px;
	height: 103px;
	margin: 10px 10px 9px 10px;
	background: #4ee077;
}
.yellow {
	float: right;
    width: 116px;
    height: 225px;
    margin: 10px 8px 0px 0px;
    background: #e0cd4e;
}
.footer {
	position: relative;
    top: 106px;
    width: 940px;
    height: 23px;
    margin: 0px 0px 0px 40px;
}
.aside {
    position: fixed;
    left: 0px;
    top: 230px;
    bottom: 305px;
    width: 17px;
    height: 165px;
}
.boxh:last-child {
	margin: 0px;
    float: right;
}
.box:last-child {
    float: right;
	margin: 55px 0px;
}
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.blue {
	background: #88d8fd;
}
.red {
	background: #e04e5a;
}
.purpler {
	background: #8f4ee0;
}